body {
    overflow: hidden;
    background-color: rgb(59, 66, 82);
    font-family: 'Rubik', sans-serif;
    color: rgb(236, 239, 244);
}

.my-4 {
    border-top: 1px solid #ffffff2b;
}

.fill-white {
    fill: #fff;
}

.none {
    display: none;
}

#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(59, 66, 82);
    z-index: 1003;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 200ms ease-out;
}
.loaded #loading {
    opacity: 0;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
    transition: left 150ms ease-out, top 150ms ease-out, transform 150ms ease-out;
}

.loaded .loader {
    top: 1%;
    left: 1%;
    transform: scale(.3)
}


.loaded #loading {
    opacity: 0;
}

.content {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.loaded .content {
    opacity: 1;
}

.wh-spc {
    white-space: normal;
}

/* *{border: 1px inset #000;} */

.navbar {
    /* background-color: rgb(46, 52, 64); */
    padding-top: 0;
}

.mt-neg {
    transform: translateY(-9px)
}

.navbar-brand {
    cursor: pointer;
}

.logothing {
    height: 100px;
    display: flex;
    align-items: center;
}

#nasa, #spaceX {
    height: calc(100vh - 96px);
    overflow-y: auto;
    body::-webkit-scrollbar-track
}
*::-webkit-scrollbar {
    width: .5em;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
}

.jumbotron {
    overflow: hidden;
    /* background-color: rgb(46, 52, 64); */
    background-color: #2e34403b;
    box-shadow: 1px 1px 1px 1px #2e34408b;
    padding: 1rem;
    border-radius: 0;
}

.ytube-vid {
    max-width: calc(100% - .5rem)
}

#spaceX,
#nasa {
    transition: flex 200ms linear, flex-grow 200ms linear, flex-basis 200ms linear;
}